@media (min-width:200px) and (max-width:4000px) {
	.sticky-left {
		width: 31%;
	}
}
@media (min-width:200px) and (max-width:1510px) {
	.main-header .header-upper .nav-outer {

		padding-right: 60px;
	}
}

@media (min-width:200px) and (max-width:1460px) {
	.main-menu .navigation>li>a {
		padding: 8px 12px;
}
}

@media (min-width:200px) and (max-width:1450px) {
	.main-menu .navigation>li {
		margin-right: 15px;
	}

	.main-menu .navigation>li>a {
		padding: 8px 12px;
	}
	.main-header .top-bar .info-outer{
		width: 70%;
	}
	.main-header .header-upper .nav-outer {
		padding-right: 70px;
	}
	.main-header .header-upper .logo {
		top: 24px;
	}
	.main-header .header-upper .nav-outer {

		padding-right: 30px;
	}
}


@media only screen and (max-width: 1460px) {
.main-header .header-upper .logo {
    left: 10%;
}
}

@media only screen and (max-width: 1400px) {
	/* .main-header .header-upper .nav-outer {
		margin-top: 30px;
		padding-right: 120px;
	} */

	.main-menu .navigation>li {

		margin-right: 20px;
	}
    .main-menu .navigation>li>a {
        padding: 8px 10px;
    }
	.main-menu .navigation>li>a {

		font-size: 14px;
	}

	/* .main-header .header-upper .logo img {
		width:140px;
	} */

	.btn-greenradious {
		width: 129px;
		line-height: 24px;
		padding: 6px 7px;
		font-size: 12px;
		font-weight: 500;
	}
}

@media (min-width:200px) and (max-width:1399px) {
.job-cate-block span {
    height: 38px;
    width: 38px;
    padding: 0px 15px;font-size: 20px;
    margin-top: 10px;line-height: 38px;
}
.tab-profile .nav-tabs li {
    margin-right: 0px;
}
.tab-profile .nav{
	padding-left: 164px;
}
.btn-profile-all {
    float: right;
    margin-top: -13px;
}
.btn-all-jobs {
    width: 36%;
    left: -7px;
}
.main-menu .navigation>li>a {
	padding: 8px 4px;
}
button.btn.btn-detailsjob {
    font-size: 14px;
    padding: 4px 6px;
}
.job-tag .form-check {
	padding: 4px 7px;
	padding-left: 25px;
	margin-right: 2px;
}
.ps-r-job{
	padding-left: 6px !important;
}
.Notifications-box span.width-8 {
    width: 70px;
    float: left;
}
.Notifications-box span.my-auto.width-90.px-2 {
    width: 80%;
    float: left;
    /* border: solid; */
}
.main-header .header-upper .nav-outer {

	padding-right: 90px;
}
}
@media (min-width:200px) and (max-width:1370px) {
.main-header .top-bar .info-outer {
	width: 73%;
}
}
@media only screen and (max-width: 1299px) {
    .main-header .header-upper .logo {
        left: 3%;
    }
}

@media (min-width:200px) and (max-width:1299px) {

.main-header .header-upper .nav-outer {
	padding-right: 0px;
}
.main-header .top-bar .info-outer {
	right: -25px;
	width: 78%;

}
.main-menu .navigation>li>a {
	padding: 8px 8px;
}
}

@media only screen and (max-width: 1250px) {
	.two-column-fluid .column {
		width: 100%;
		min-height: 0px;
	}

	.two-column-fluid .left-column .content-box,
	.two-column-fluid .right-column .content-box {
		float: none;
		max-width: none;
		width: 100%;
		padding: 50px 20px;
	}

	.two-col-bg .content-box {
		float: none;
		max-width: none;
		width: 100%;
		padding: 40px 20px;
	}
	.login-register-form {
		padding: 10px 10px;
	}
	.login-register-box{
		padding-left: 10px; padding-right: 10px;
	}
}
@media only screen and (max-width: 1200px) {
.main-header .top-bar .info-box li {

	padding-left: 32px;
	margin-right: 42px;

}
}

@media only screen and (max-width: 1199px) {
	.events-content .meta-post li {
		font-size: 13px;
		color: #9b9b9b;
		padding: 0 7px;
		display: inline-block;
	}
	.events-content h3 {
		margin: 0;
		font-size: 20px;
		color: #fff;
		font-weight: 700;
		line-height: 25.83px;
		font-family: 'Raleway';
	}
	.members-social-icon span {
		font-size: 12px;
		font-weight: 400;
		color:#09456c;
	}

	.mycontact-footer span {
		font-size: 13px;
		color:#09456c;
	}


	/* .main-header .header-upper .logo img {
		max-width: 100%;
		display: inline-block;
		width: 180px;
	
	} */

	.main-menu .navigation>li>a {
		font-size: 14px;
	}

	.btn-greenradious {
		width: 120px;
		padding: 6px 10px;
		font-size: 12px;
	}

	/* .main-header .header-upper .logo {
		position: relative;
		float: inline-start;
		padding-top: 0px;
		display: inline-block;
		margin: auto;
		margin-top: 18px;
	} */

	.blog-content-box .read-more2 {
		float: right;
		margin-top: 10px;
	}

	.main-menu .navigation>li {
		margin-right:16px;
	}

	/* .main-header:after {
		position: absolute;
		left: 0;
		top: 174px;
		height: 90px;
		width: 100%;
		content: "";
		background-image: url(../images/main-slider/bg-grass1.png);
		background-repeat: repeat-x;
		background-position: center;
		background-size: auto;
		z-index: 3;
	} */
    .blog-content-box .read-more2 {
		left: 29px;
        position: relative;
        float: none;
        margin: auto;
        display: table !important;
    }
	article.slide-item .meta-box img{
float: right;
	}

	img.img-post-blog.img-post-blog-all{
		float: right;
	}
}



@media (min-width:200px) and (max-width:1199px) {
	.wid80-res{
		width: 80px;
	}
	.fried-li-chat .width-89 {
		width: 82%;
	}
	.blog-sttaus-responsive {
		border-left: 0px !important;
		padding-left:31%;
	}
	.contact-re-row .col-md-4 {
		width: 50%;
	}
	.contact-request-right {

		width: 210px;
	}
	.btn-profile-all .btn-post-all span {
		display: none;
	}
	.btn-profile-all {
        float: right;
        margin-top: 2px;
    }
	.tab-profile .btn-profile-all a {
		float: left;
		margin-left: 3px;
	}



	.tab-profile .nav{
		width: 60%;
	}
	.btn-all-jobs a {
		margin-left:0%;
		margin: auto;
	}
	.profile-chat-let .width-89 {
		max-width: 82%;
	}

	.blog-sttaus-responsive .float-end.read-more2{
		float: left !important;
	}
	.plnon-res {
		padding-left: 0px;
	}
	.plpr-0res{
		padding-left: 0px; padding-right: 0px;
	}
	.job-home-slide span{
		float: none;
			margin: auto;
			display: table;
			margin: 20px auto !important;     
			   margin-bottom: 0px !important;
		}

		.job-home-slide .job-det-list {
			width: 100%;
		}
		.usefull-link ul li p{
			width: 78% !important;
		}
		.job-home-slide .job-det-list h2 {
			text-align: center !important;    margin-top: 0px;
		}
		.job-home-slide .job-det-list h5 {
			text-align: center !important;
		}
		.job-home-slide .job-det-list p {
			text-align: center !important;
		}
		.home-job-btn {
			margin-right: 0px;
        margin-top: 0px !important;
        display: block;
        width: 100% !important;
        margin-bottom: 10px;
		}
		.btn-all-jobs.home-job-btn a {
			display: inline-block;
		}
		.job-det-list {
			width: 70%;
		}
		.btn-all-jobs {
			width: 100%;
			left: 3px;
		}
		.btn-all-jobs {
			margin-top: 10px;
			left: 6px;
			position: relative;
			margin-bottom: 10px;
		}

		.footer-job-all {
			width: 100%;
			padding: 4px 0px;
			padding-left: 10px;
		}

		.app-jobs-right {
			width: 100% !important;
			display: ruby;
			text-align: center;
			margin-top: 8px !important;
		}
		.field-area-job label{
			text-align: end;
		}
		.main-header .top-bar .info-outer {
			right: -95px;
			width: 88%;
		}
		li.noti-icon-right {

			right: -62px;
		}	
}

@media (min-width:200px) and (max-width:1180px) {
.main-menu .navigation>li>a {
	padding: 8px 7px;
}
}
@media (min-width:200px) and (max-width:1160px) {
.main-header .top-bar .info-outer {
	right: -68px;

}
}

@media (min-width:200px) and (max-width:1120px) {
	.main-header .top-bar .info-outer {
		right: -38px;width: 83%;
	
	}
	}

	@media (min-width:200px) and (max-width:1110px) {
		.main-menu .navigation>li>a {
			padding: 8px 5px;
		}
	}
	@media (min-width:200px) and (max-width:1090px) {
		.main-header .top-bar .info-outer {
			
			width: 80%;
		}
		.main-menu .navigation>li>a {
			padding: 8px 2px;
		}
	}
@media (min-width:200px) and (max-width:1060px) {
.main-header .header-upper .logo {

    width: 138px;
}
.main-header .header-upper .logo {
	top: 34px !important;
}
}
@media (min-width:200px) and (max-width:1030px) {
	.main-header .header-upper .logo {
	
		width: 148px;
	}
	/* .main-header .header-upper .logo img {
		width: 118px;
		
	} */
	}
@media only screen and (max-width: 2000px) and (min-width: 1102px) {
	.login-register-box {
		padding: 80px 10px;
	}

}

@media only screen and (max-width: 1080px) and (min-width: 200px) {
.event-img a img{
	width: 100% !important;
}
.width-1024 {
	width: 100% !important;

}
.mb-event{
	margin-bottom: 30px;
}

}

@media only screen and (max-width: 1070px) and (min-width: 200px) {
.main-header .header-upper .logo {
	margin-top: 0px !important;
}
}
@media only screen and (min-width: 200px) and (max-width: 1070px) {
	.main-header .header-upper .nav-outer {
		top: 7px;
	}
	.main-menu .navigation:after{
		display: none;
		}
	
}
@media only screen and (min-width: 200px) and (max-width: 1024px) {
	.main-header .top-bar .info-outer {
        right: -10px;
        width: 100%;
    }
	.main-header .header-upper .logo {
        margin-top: 20px !important;
    }
	
}
@media only screen and (min-width: 200px) and (max-width: 1023px) {
    .main-header .header-upper .logo {
        margin-top: -21px !important;
    }
	.main-header .top-bar .info-outer:before {
		left: -50px;
	}
	.main-header .header-upper .nav-outer {
        top: -3px;
    }
}
@media only screen and (max-width: 1070px) and (min-width: 1020px) {
	.main-header .header-upper {
		padding-top: 18px;
	}
	.main-header .header-upper .logo {
        top: 24px;
    }



}
@media only screen and (min-width: 200px) and (max-width: 1019px) {
.main-header .header-upper .nav-outer {

	margin-top: -15px !important;
}
}


@media (min-width:200px) and (max-width:1050px) {
.main-header .header-upper .logo {
	top: 31px;
}
}


@media (min-width:200px) and (max-width:1050px) {
		.sticky-left {
		width: 28.7%;
	}
}

@media (min-width: 200px) and (max-width:1019px) {
    .main-header .header-upper .logo {
        top: 30px;
    }
}
@media (min-width:200px) and (max-width:1010px) {
	.jobtop-details ul li {
    width: 100% !important;
}
}

@media (min-width:200px) and (max-width:991px) {
	.logo {
		position: relative !important;
	}
	.logo:after{
		display: none;
	}
	h4.all-job-title2 {
	
		font-size: 16px;
	}
	.profile-user-all {
		margin-top: -11px;
	
	}

	.external-job-area {
	
		display: flex;
	}
	.container-profile {
		max-width: 96%;
	}
	.external-job-area label{
		border: 0px; padding: 0px;
	}
	section.list-all-profile {
		min-height: 74px;
	}
	.tab-profile .nav{
		margin-top: 5px;
	}
	.btn-profile-all {
	
		margin-top: 34px;
	}
	.tab-profile .nav {
        padding-left: 0px;width: 402px;
    }
	.profile-img-left {
		width: 110px;
		height: 110px;
		margin-top:66px;
	}
	.profile-img-left img {
		width: 110px;
		height: 110px;
		border: 1px solid rgba(255, 255, 255, 0.99);
	
	}
	section.bg-Profile.banner-section.all-sub-banner.profile-new{
		height: 150px  !important;
	}
	.profile-new .page-header-overlay {
        height: 150px;
    }
	.user-pr-details h3 {
		margin-top: 40px;
		font-weight: 700;
	
		font-size: 17px;
	}
	h4.all-job-title2 p strong {
		font-size: 17px;
	}
	h4.all-job-title2 p {
	
		line-height: 21px;

		
	}
	.chat-box-right{
		background: #f7faf3;border-top: solid 1px #ddd !important;
	}
	.chat-box-right span.my-auto.width-right-top h6 {
		left: 16px;
		margin-top: -19px;
	}
	.chat-box-right span.my-auto.width-right-top p{
		left: 16px;
	}
	.accordion-green .accordion-item h2 button {
		font-size: 18px;
		line-height: 25px;
		white-space: nowrap;
		font-weight: 500;
	}


	.filters-section{
		border-radius: 0px;
	}
	.load-more-friend {
		margin-top: 0px !important;
		margin-bottom: 10px;
	}
	.bg-members-section {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.single-message-option {
		height: 308px;
	}
	.inner-list-friend-right {
	
		height: 340px;
	}
	h3.mb-1.mt-5.pt-2.h3-job-top {
		margin-top: 20px !important;
	}
	.bg-members{
		height: 130px !important;
	}
	.bg-members .page-header {
        padding: 36px 0 !important;
    }
	.job-list-banner  .page-header {
		padding: 34px 0 !important;
	}

	button.navbar-toggler:after{
		left: 9px;
	}
	.logo:before{
		display: none;
	}
	.main-header .header-upper .logo {
        left: inherit;
    }
	.main-header .header-upper .logo {
        left: inherit;
    }
	.main-header .header-upper{
		padding-top: 70px  !important;
	}
	.main-header .header-upper .logo {
        margin-top: -99px  !important;
    }
	.main-menu {
		top: 0px !important;margin-top: -38px;
	}
	.main-header .header-upper .logo img {
        width:150px;
        top: 81px;
      
    }
	.main-menu .navigation>li:hover>a, .main-menu .navigation>li.current>a, .main-menu .navigation>li.current-menu-item>a{
		border-bottom: 0px;
	}

	.nav-right {
		float: none;
		display: table;
		margin: auto;
		margin-top: -17px;
		z-index: 9;top: 7px;
        position: relative;
	}
	.nav-right a{
		float: left;
	}
	.nav-right .user-profile-drop-down {
		float: left;height: 35px;
	}
	ul.dropdown-menu.mt-4 {
		margin-top: 16px !important;
		border: 0px;
		border-radius: 0px;
	}
	.announcement {
		margin-top: 0px;
		top: 50px;
	}
	.page-title {
        padding: 40px 0px 20px !important;
    }
	.slider-content h3 {
        margin-top: 5px;
    }
	li.logon-li a {
		margin-top: 10px;
		margin-right: 6px;
	}
	.skill-list-all {
		padding-left: 0%;
		
	}
	.skill-list-all ul {
		margin: 0px;
		right:6%;
	}

	.latest-blog-homeslider .testimonials-slider{
		margin-top: 83px;
	}
	.latest-blog-homeslider .see-all-blog-link {
		top: 74px;
	}
	.mt-responsive{
		margin-top: 0px !important;
	}

	.job-cate-block h4 {
		width: 100%; text-align: center;
		margin-left: 0px;
	
	}
	.job-cate-block span {
		padding: 8px 13px;
		margin: auto;
		display: grid;
		float: none;
	}
	.job-cate-block h4 {
		width: 100%;
        text-align: center;
        margin-left: 0px;    margin-top: 10px;
	}
	.pe-5-job-form {
		padding-right: 0px !important;
	}
	.section.bg-gray-job{
		padding: 40px 10px;
	}
	.w100-all{
		max-width: 90%;
	}
	.job-tag .form-check{
		margin-bottom: 4px;
	}
	.use-con{
		max-width:100%;
	}
	.usefull-link ul li p{
		width: 76%;
	}
	.resources-slider .testimonials-slider {
		margin-top: 80px !important;
	}

	.resources-slider .see-all-blog-link {
		top: 72px;
	}
	.bg-my-contact{
		height: 130px;
	}
	.bg-my-contact .page-header {
		padding: 40px 0;
	}
	.mp-tm{
		padding-top: 40px;
    padding-bottom: 50px;
	}
	.contact-banner{
		height: 130px !important;
	}
	.contact-banner .page-header {
        padding: 40px 0 !important;
    }
	.contact-section {
	
		padding: 40px 0px 0px;
	}
	.main-header .header-upper .nav-outer {
        margin-top: 20px !important;
    }
	.nav-right .user-profile-drop-down {

        top: 3px;
        position: relative;
    }
	.all-recoverbanner{
		height: 160px !important;
	}
	
	.all-recoverbanner .page-header{
		padding:30px 0 !important;
	}
	.all-recoverbanner .page-header-overlay{
		height: 160px !important;
	}
	.all-recoverbanner .breadcrumb {
		padding-top: 0px;

	}
}

@media (min-width:200px) and (max-width:823px) {
	.annuncement-left i {
		margin-right: 9px;

	}
	.tab-profile li.nav-item button {
	
		font-size: 14px;
		
		padding-right: 0px;
	}
}

@media (min-width:200px) and (max-width:820px) {
section.bg-single-profile.bg-area-gray {
    padding-top: 50px;
}
.btn-profile-all {
	margin-top: 33px;
}
}
@media (min-width:200px) and (max-width:800px) {
.annuncement-left span {
    display: none;
}
.annuncement-left {
    width: 26%;
}
.annuncement-left i {
	margin-right: 43%;
}
}

@media only screen and (min-width: 768px) {

	.main-menu .navigation>li>ul,
	.main-menu .navigation>li>ul>li>ul {
		display: block !important;
		visibility: hidden;
		opacity: 0;
	}
	.top-bar .info-box>li>ul, .top-bar .info-box>li>ul>li>ul {
		display: block !important;
		visibility: hidden;
		opacity: 0;
	}
	.modal-dialog {
		width: 100%;
		max-width: 960px;
		margin: 50px auto;
	}
}

@media screen and (min-width: 992px) {
	.main-menu .navbar-collapse {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.navbar-header {
		display: none;
	}
}

@media only screen and (max-width: 1023px) {
	.right-img-pos .image-box img {
		width: -webkit-fill-available;
	}

	.Notifications-box {
		padding:30px 0px;
	}
	/* .main-header:after {
		position: absolute;
		left: 0;
		top: 223px;
		height: 90px;
		width: 100%;
		content: "";
		background-image: url(../images/main-slider/bg-grass1.png);
		background-repeat: repeat-x;
		background-position: center;
		background-size: auto;
		z-index: 3;
	} */

	.header-style-two .lower-part {
		height: auto;
	}

	/* .main-header .header-upper .nav-outer {
		width: 100%;
	} */

	.main-menu .navigation>li,
	.header-style-two .main-menu .navigation>li {
		margin-right: 10px;
		margin-left: 0px;
	}

	.header-style-two .lower-part .outer-box {
		padding-left: 15px;
	}

	.header-style-two .header-top .info-box {
		display: inline-block;
		float: none;
		text-align: center;
		padding-left: 0px;
		margin: 0px 15px 10px;
	}

	.header-style-two .header-top .info-box .icon {
		position: relative;
		left: 0px;
		top: 0px;
		margin-top: 0px;
		margin-bottom: 10px;
		width: 100%;
	}

	.header-style-two .social-links {
		top: -10px;
	}

	.header-style-two .header-top .info-outer {
		width: 100%;
		text-align: center;
	}

	.main-header .header-lower .outer-box {
		padding-right: 0px;
	}

	.main-header .top-bar .info-outer {
		position: relative;
		border-radius: 0px;
	}

	.main-header .header-upper .logo {
		margin-top: -10px;
	}

	.main-header .header-upper .nav-outer {

		margin-top: 0;
	}

	/* .main-header .header-upper .logo,
	.header-style-two .header-top .logo {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	} */

}

@media screen and (max-width: 991px) {
	.blog-content h4 {
		width: 100%;
	}

	.blog-content p {
		width: 100%;
	}

	.right-img-pos .image-box img {
		width: 326px;
	}
	.slider-content h2 {
		font-size: 27px;
		line-height: 33.35px;margin-top: -26px;
	}
	.slider-content h3 {
		font-size: 17px; margin-top: 40px;
	}
	button.navbar-toggler {
		border: 1px solid #07456c;
		outline: none;
		box-shadow: none;
	}

	.navbar-toggler-icon {
		line-height: 1.5em;
        right: -8px;
        position: relative;
        top: 11px;
	}

	.main-menu-area ul li {
		width: 100%;
	}

	/* .main-header:after {
		position: absolute;
		left: 0;
		top: 218px;
		height: 90px;
		width: 100%;
		content: "";
		background-image: url(../images/main-slider/bg-grass1.png);
		background-repeat: repeat-x;
		background-position: center;
		background-size: auto;
		z-index: 3;
	} */

	.main-header .header-upper .nav-outer {
		position: relative;
		float: right;
		margin-top: 15px;
		padding-right: 150px; z-index: 12;
	}
	ul.social-ul {
		padding-right: 0px;
	}
	.logo-footer {
		right: -12px;
	}
	.footer-upper .column h2{
		margin-top: 0px;
	}
	.partner-footer {
		left: 46px;
	
	}
	.logo-footer img {
		width: 170px;
	}
	.worldbank {
		width: 134px;
	}
	.partner-footer h4 {

		font-size: 15px;
		font-weight: bold;
	}
	ul.social-ul li {
		width: 38px;
		height: 38px;
		font-size: 17px;
		margin-right:10px;
		padding: 7px 9px;
	}
}

@media only screen and (max-width: 991px) {
	.top-bar .info-box>li>ul {
		width: 350px;
	}
	.services-block .inner-box .text {
		margin-left: auto;
	}
	.events-content h3 {
		margin: 0;
		font-size: 18px;
		color: #fff;
		font-weight: 700;
		line-height: 25.83px;
		font-family: 'Raleway';
	}
	.events-content .meta-post li {
		font-size: 11px;
		color: #9b9b9b;
		padding: 0 7px;
		display: inline-block;
	}
	.events-content p {
		margin: 0;
		padding: 0;
		font-size: 12px;
		font-weight: 400;
		color: #696969;
	}
	.events-content {
		border: 1px solid #f0f0f0;
		border-top: 0;
		padding: 20px;
	}
	.thumb-widthout-layer img {
		width: auto;
		margin: auto;
		text-align: center;
		justify-content: center;
		display: flex;
	}

	.services-block .inner-box .text2 {
		margin-right: auto;
	}

	.right-text {
		text-align: center;
	}

	.left-start {
		text-align: center;
	}

	.about-greengrowth {
		padding: 50px 0;
		position: relative;
	}

	.about-greengrowth-img {
		text-align: center;
		text-align: center;
		margin: auto;
		justify-content: center;
		display: flex;
	}

	.about-greengrowth-content {
		margin-top: 0px !important;padding-top: 0px !important;
	}

	.Expertise {
		padding: 28px;
		position: absolute;
		bottom: -80px;
		left: 140px;
		width: 200px;
		height: 200px;
	}

	.Expertise span {
		font-size: 17px;
		line-height: 30px;
	}

	.Expertise span.number {
		font-size: 25px;
		font-weight: 700;
		color: rgba(60, 156, 77, 1);
	}

	.main-header .header-upper,
	.fixed-header.main-header .header-upper {
		position: relative !important;
	}

	.main-header .header-upper .logo {
		width: 100px;
		text-align: center; background: transparent; z-index: 99;
	}

	.main-header .header-upper .nav-outer {
		width: 100%;
		padding: 0px;
	}

	.header-style-two .lower-part .outer-box {
		padding-right: 15px;
		padding-bottom: 0px;
		padding-top: 10px;
	}

	.btn-greenradious {
		right: auto;
		left: 0px;
		top: 0px;
	}

	.main-header .header-upper .social-box {
		display: none;
	}

	.header-lower .outer-box {
		padding-right: 0px;
	}

	.main-menu {
		float: none;
		padding-top: 0px;
		z-index: 5; 
		padding-bottom: 0px;
	}

	.fixed-header .main-menu {
		padding-top: 0px;
	}
	.chat-box-right .members-img img {
		width:64px;
		height: 64px;
	}
	.main-menu .collapse {
		max-height: 100%;
		overflow: auto;
		float: none;
		width: 100%;
		padding: 0px 0px 25px;
		border: 0px;
		margin: 0px;
		-ms-border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius: 0px;
		
	}

	.main-menu .collapse.in,
	.main-menu .collapsing {
		padding: 0px;
		/* border: 1px solid #09456c; */
		border: 0px;
		margin: 0px 0px 25px;
		-ms-border-radius: 0px;
		-moz-border-radius:0px;
		-webkit-border-radius: 0px;
		-o-border-radius:0px;
		border-radius: 0px;
	}


	.main-menu .navbar-header {
		position: relative;
		float: none;
		display: block;
		text-align: right;
		width: 100%;
		padding: 4px 0px 15px;
		right: 0px;
		z-index: 12;
	}

	.header-style-two .main-menu .navbar-header {
		padding: 0px 0px 10px;
	}

	.main-menu .navbar-header .navbar-toggle {
		display: inline-block;
		z-index: 7;
		border: 1px solid #6ac610;
		background: #6ac610;
		float: none;
		margin: 0px;
		border-radius: 0px;
	}

	.header-style-two .main-menu .navbar-header .navbar-toggle {
		float: left;
		border-color: #ffffff;
	}

	.main-menu .navbar-header .navbar-toggle .icon-bar {
		background: #ffffff;
	}

	.main-menu .navbar-collapse>.navigation {
		float: none !important;
		margin: 0px !important;
		width: 100% !important;
		/* background: #6ac610; */
		/* border: 1px solid #ffffff; */
		position: relative;
        z-index: 1000;margin-top: 25px !important;
	}

	.main-menu .navbar-collapse>.navigation>li {
		margin: 0px !important;
		float: none !important;
		width: 100%;
	}

	.main-menu .navigation>li>a,
	.main-menu .navigation>li>ul:before {
		border: none;
	}

	.main-menu .navbar-collapse>.navigation>li>a {
		padding: 10px 10px !important;
	}

	.main-menu .navigation>li.dropdown>a::before,
	.main-menu .navigation>li.dropdown>ul>li.dropdown>a::before,
	.main-menu .navigation>li.dropdown>a::after,
	.main-menu .navigation>li.dropdown>ul>li.dropdown>a::after,
	.main-menu .navigation>li>ul>li>a:before,
	.main-menu .navigation>li>ul>li>ul>li>a:before {
		display: none !important;
	}

	.main-menu .navbar-collapse>.navigation>li>ul,
	.main-menu .navbar-collapse>.navigation>li>ul>li>ul {
		position: relative;
		border: none;
		float: none;
		visibility: visible;
		opacity: 1;
		display: none;
		margin: 0px;
		left: auto !important;
		right: auto !important;
		top: auto !important;
		width: 100%;
		background: #6ac610;
		-webkit-border-radius: 0px;
		-ms-border-radius: 0px;
		-o-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		-o-transition: none !important;
		-moz-transition: none !important;
	}

	.main-menu .navbar-collapse>.navigation>li>ul,
	.main-menu .navbar-collapse>.navigation>li>ul>li>ul {
		border-top: 1px solid rgba(255, 255, 255, 1) !important;
	}

	.main-menu .navbar-collapse>.navigation>li,
	.main-menu .navbar-collapse>.navigation>li>ul>li,
	.main-menu .navbar-collapse>.navigation>li>ul>li>ul>li {
		border-top: 1px solid rgba(255, 255, 255, 1) !important;
		opacity: 1 !important;
		top: 0px !important;
		left: 0px !important;
		visibility: visible !important;
	}

	.main-menu .navbar-collapse>.navigation>li:first-child {
		border: none;
	}

	.main-menu .navbar-collapse>.navigation>li>a,
	.main-menu .navbar-collapse>.navigation>li>ul>li>a,
	.main-menu .navbar-collapse>.navigation>li>ul>li>ul>li>a {
		padding: 10px 10px !important;
		line-height: 22px;
		color: #ffffff;
		background: #6ac610;
		text-align: left;
	}

	.main-menu .navbar-collapse>.navigation>li>a:hover,
	.main-menu .navbar-collapse>.navigation>li>a:active,
	.main-menu .navbar-collapse>.navigation>li>a:focus {
		background: #6ac610;
	}

	.main-menu .navbar-collapse>.navigation>li:hover>a,
	.main-menu .navbar-collapse>.navigation>li>ul>li:hover>a,
	.main-menu .navbar-collapse>.navigation>li>ul>li>ul>li:hover>a,
	.main-menu .navbar-collapse>.navigation>li.current>a,
	.main-menu .navbar-collapse>.navigation>li.current-menu-item>a {
		background: #116398;
		color: #ffffff !important;
	}

	.main-menu .navbar-collapse>.navigation li.dropdown .dropdown-btn {
		display: block;
	}

	.main-menu .navbar-collapse>.navigation li.dropdown:after,
	.main-menu .navigation>li>ul:before {
		display: none !important;
	}

	.main-header .header-top .top-right .social-links-one {
		display: none;
	}

	.revolution-slider .tp-caption {
		display: none !important;
	}

	.subscribe-intro .text-right {
		text-align: left !important;
	}

	.sec-title .pull-right {
		float: left !important;
	}

	.default-text-column h2,
	.sec-title h2,
	.two-column-fluid .content-box h2,
	.default-text-column h2 .normal-font {
		font-size: 22px !important;
	}

	.page-title h1 {
		font-size: 32px !important;
	}

	.contact-form-container {
		padding: 40px 15px;
	}

	.causes-section.list-view .image-box,
	.causes-section.list-view .content-box {
		width: 100%;
	}

	.sidebar-page .padd-right-20 {
		padding-right: 0px !important;
	}

	.event-section.full-width .image-box {
		width: 50%;
	}

	.donation-form-outer {
		padding: 30px 15px;
	}

	.list-view .default-featured-column .content-box {
		padding-top: 20px;
	}

	.error-section .error-text {
		margin-bottom: 40px;
	}

	.header-style-two .lower-part .outer-box .btn-box {
		height: 54px;
	}

	.header-style-two .lower-part .outer-box .btn-box {
		padding: 10px;
	}

	.header-style-two .lower-part .outer-box .btn-box:before {
		display: none;
	}

	.main-header .header-upper .logo {
        width: 220px;
        height: 35px;top: 28px;left: -30px;
	}
}

@media only screen and (max-width: 768px) {

	.Expertise2 {
		right: 15px;
	}
	.gm-err-container {
		margin: 50px 0;
	}
	.login-register-box {
		border: 1px solid #ebebeb;
		padding: 30px 10px;
		border-radius: 10px;
		margin: 100px 0;
		position: relative;
		text-align: center;
	}
	.about-greengrowth-content {
        margin-top: -20px;
    }
	.single-form label {
		width: 100%;
		text-align: left;
	}
	.button-box {
		text-align: left;
	}
	.single-form label {
        position: relative;
        z-index: 9;
    }
	
}


@media only screen and (max-width:767px) {
.subscribe-intro h2 {
    text-align: center;
}
span.profile-members-info-name {
    font-size: 18px;

}
.float-left {
    float: none;
}
.about-greengrowth-content .col-md-4.ps-5.pt-4 {
    padding-left: 14px !important;padding-top: 0px !important;
}
.ab-img {
    width: 100%;
    height: 330px;
}
.reverse-grid{
	flex-direction: column-reverse !important;margin: 0px;
}
.blog-img2 img{
	height: auto !important;width: auto !important;
}
.evn-detail img {
    height: auto !important;width: auto !important;
}
.pde-regis {
    padding-left: 4px !important;
    padding-right: 4px;
}
.brbre-regis{
	border-bottom: solid 1px #f2eaea;border-left: solid 1px #f2eaea !important;
}
.w50a{
	width: 50%;
	border-right: solid 1px #f2eaea;
	border-bottom: solid 1px #f2eaea;
	border-radius: 0px;
}
.bb-res{
	border-bottom: solid 1px #eaeaea;background: #fbfbfb;border-left: solid 1px #f2eaea;
}
.borb-rer{
	border-bottom: solid 1px #eaeaea;background: #fbfbfb;
}
.m0-resp{
	margin: 0px;
}
.upload-list{
	width: 50%;
}
.pt0-r{
	padding-top: 0px  !important;
}
.ps5-res {
    padding-left: 0px !important;
}
.single-form.mt-5.nowrap.dflex-current {
    margin-top: 10px !important;
}


.single-form.mt-5.nowrap.dflex-current .form-check-input {
    width: 2.5em;
    height: 1.5em;
}
.p50 {
    padding-left: 0px !important;
    padding-right: 0px !important;
	padding-top: 0px  !important;
}
.marlr-responsive{
	margin-left: 0px; margin-right: 0px;
}
.p0-responsive-a{
	padding: 0px;
}
.wid80-res {
	width: 68px;
}
.blog-content-box{
	margin-bottom: 20px;
}
span.profile-members-info-date {
    font-size: 15px; white-space: nowrap;
}

.sidebar-page {
	padding: 0px 0px 0px !important;
	padding-top: 40px !important;
}

.form-box i {

    padding: 12px 0 0 0px;
}
.btn-style-one {
	margin: 20px auto;
	display: table;
	background: #09456c;
}
.login-register-form {
    padding: 10px 0px;
}


.event-img a img {

	height: auto;
	width: auto;

}

.blog-img video.blog-video {
	height: auto;
	width: 100%;
}
.blog-img img {
    height: auto;
}

}
@media only screen and (max-width: 615px) {
	.top-bar .info-box>li>ul {
		left: 0px;
	}
	.Notifications-box ul li h6 {
        font-size: 13px;
    }
	.profile-chat-let .delete-chat2{
		left: inherit;right:0px;
	}
	.Notifications-box {
		max-height: 410px;

	}
	.width100 {
		width: 100%;
	}
	.blog-content-details h4 {
		font-size: 24px;
	}
	.share-link span {
		padding: 0px 6px;
		width: 25px;
		height: 25px;
	}
	.Notifications-box{
		margin: 10px 0;
	}
	.bg-message-profile .single-profile-item {
		/* border: 1px solid rgba(238, 238, 238, 1); */
		padding: 15px 10px 3px;
		margin: 0px 0px 24px;
	}
	.Notifications-box li .width-100 {

		padding: 6px;
		padding-bottom:6px;
	}
	.single-experience-content .h-adress-content h6 {
		font-size: 13px;
		margin-bottom: 1px;
		margin-top: 0px;
	}
	.footer-chat-send button {
		width: 13%;
		font-size: 18px;
		
	}
	span.date-time {
		font-size: 12px;
		top: 3px;
	}
	.single-experience-content .h-adress-content p.contact-span {
		font-size: 13px;
	}
	.Notifications-box span.my-auto.width-90.px-2 {
        width: 100%;
	}
	.Notifications-box .h5-text {
		font-size: 20px;
	}
	.notification-pro-img img {
		width: 50px;
		height: 50px;
	}
	.profile-chat-let .members-img {

		right: 10px;
		position: relative;
	}
	p.design-replay {
		font-size: 15px;
	}
	.fried-li-chat .width-10 {
		width: 44px;
		height: 44px;
	}
	.fried-li-chat .members-img {
		width: 44px;
		height: 44px;
	}
	.fried-li-chat .members-img img {
		width: 44px;
		height: 44px;
	}
	.profile-chat-let span {
		color: #999;
		font-size: 12px;
	}
	.profile-chat-let  h6 {
		font-size: 12px;
		top: 3px;
	}
	.fried-li-chat .width-10 {
		top:20px;
		right: 10px;
		position: relative;
	}
	.chat-list-wrap{
		padding-right: 0px  !important;padding-left: 0px;
	}
	.hidden-web{
		display: block;
	}
	.hidden-mobile{
		display: none;
	}
	.width-100{
		width: 100%;
		display: block;
	}
	.width-10{
		width: 100%;
	}
	.right-p-chat span.width-10.hidden-web{
		width: 64px;
	}
	.right-p-chat  span.my-auto.width-89{
		width: 80%;
	}

	.profile-chat-let span.width-10.hidden-web{
		width: 44px;height: 44px;top: 20px;
        position: relative;
	}
	.profile-chat-let  span.my-auto.width-89{
		width: 80%;
	}
	.profile-chat-let .members-img {
		width: 44px;
		height: 44px;
	}
	.profile-chat-let .members-img img {
		width: 44px;
		height: 44px;
	}
	.width-89{
		width: 100%;
	}
	.width-8{
		width: 100%;
	}
	.thumb-widthout-layer img {
		width: -webkit-fill-available;

	}

	/* .main-header:after {
		position: absolute;
		left: 0;
		top: 248px;
		height: 90px;
		width: 100%;
		content: "";
		background-image: url(../images/main-slider/bg-grass1.png);
		background-repeat: repeat-x;
		background-position: center;
		background-size: auto;
		z-index: 3;
	} */

	.header-style-two .header-top .info-outer {
		display: none;
	}

	.sidebar-page .comments-area .comment,
	.sidebar-page .comments-area .reply-comment,
	.sidebar-page .about-author .author-desc {
		padding-left: 0px;
		margin-left: 0px;
	}

	.sidebar-page .comments-area .comment-box .author-thumb,
	.sidebar-page .about-author .author-thumb {
		position: relative;
		left: 0px;
		margin-bottom: 20px;
	}

	.two-column-fluid .icon-box {
		float: none;
		margin-bottom: 30px;
	}

	.two-column-fluid .icon-box .lower-box {
		padding: 0px;
		border: none !important;
	}

	.two-column-fluid .theme-btn {
		margin: 0px 10px 10px;
	}

	.error-section .error-text .bigger-font {
		font-size: 100px;
	}

	.error-section .error-text .medium-text,
	.error-section .error-text h3 {
		font-size: 22px;
	}

	.parallax-section h2,
	.main-features .title-box h1,
	.page-title h1 {
		font-size: 30px;
	}

	.main-features .title-box h2 {
		font-size: 24px;
	}

	.header-style-two .social-links {
		top: 10px;
	}

	.header-style-two .header-top .info-box {
		width: 100%;
		margin: 0px 0px 10px;
	}
	.Notifications-box .width-100 {
		display: flex;
	}
	.Notifications-box ul li h6 {
		font-size: 14px;
	}
.p0-notification{
	padding: 0px 0px;
}
	.Notifications-box ul li .textshadwo{
		font-size: 13px;
    line-height: 16px !important;
    float: left;
    width: 100%;
    margin-bottom: 7px !important;
	}
}

@media only screen and (max-width: 479px) {
	.events-content .meta-post {
		display: grid;
	}
	.form-box>input {
		width: 79%;
	}
	.two-column-fluid .right-column .quote-icon {
		display: none;
	}

	.two-column-fluid .right-column .outer-box {
		padding-left: 0px;
	}

	.Expertise {
		padding: 28px;
		position: absolute;
		bottom: -80px;
		left: 0;
		width: 180px;
		height: 180px;
	}

	.about-greengrowth-content h2 {
		
		font-size: 26px;
		color: #070707;
		font-weight: 700;
		line-height: 38.74px;
		position: relative;
	}

	.about-greengrowth-content h3 {
		
		font-size: 20px;
		color: #070707;
		font-weight: 700;
		line-height: 38.74px;
	}
}

@media (min-width:200px) and (max-width:1150px) {
	.left-space {
		left:0px;
		
	}
}

@media (min-width:200px) and (max-width:1070px) {
.newsde {
    width: 100%;
    margin-left: 0%;
    float: left;
    text-align: center;
}
.news-blcok span {
    float: inherit;
    margin: auto;
    display: table;
    margin-bottom: 10px;
}
button.btn.btn-news {
    float: inherit;
    left: inherit;
    margin: auto;
    display: table;
    /* margin-top: 20px !important; */
}
.newsde label {
    margin-bottom: 10px;
}
.newsde h3{
	text-align: center;
}
.newsde p{
	text-align: center;
}
}


@media (min-width:200px) and (max-width:991px) {
	.sticky-left {
		position: inherit;
		width: 100% !important;
		max-width: 100%;
	}
	button.navbar-toggler{
		
        position: relative;
        /* border: 1px solid #09456c; */
        /* background: #09456c; */ border:0px;
		padding: 2px 8px;
	}
	#leftside .single-profile-content{
		text-align: center;
	}
	.bg-news{
		height: 130px !important;
	}
	.container-w-100{
		max-width: 100%;
	}
	.bg-news .page-header {
        padding: 36px 0 !important;
    }
	.container-w-100 .new-profile-rating .profile-after-post {
		float: left;
		float: none;
		margin: auto;
		display: table;
	}
	.container-w-100 .new-profile-rating span.profile-members-info-name {
		padding-left:0px !important;
		text-align: center;
		padding: 0px !important;
		width: 100% !important;
	}
	.all-sub-banner{
		height: 130px !important;
	}
	.container-w-100 ul.rating-view.mt-1 {
		margin: 5px auto;
		/* display: table; */
		width: 127px;
		/* border: solid; */
		float: none;
		text-align: center;
		left: 10px;
		position: relative;
	}
	.chat-banner .page-header-overlay {
		height: 130px;
	}
	.all-sub-banner .page-header.message-titleb {
		padding-top: 59px !important;
	}
	.container-w-100 span.profile-members-info-date.top-10p {
		margin: auto;
		display: table;
		margin-top: -16px !important;
		margin-bottom: 7px;
	}
	.all-sub-banner .page-header {
        padding: 36px 0 !important;
    }
	li.logon-li {
		top: -5px;
		position: relative;
	}
	.menu-m{
		margin: 0px;
	}
	.page-title {
       
        margin-bottom: 50px;
    }
	article.slide-item.green-growth-jobs {
		margin-top: 24px;
	}
	.greenjobs .see-all-blog-link {
		top: 112px;
	}
	.greenjobs .owl-controls {
		top: -30px;
	}
	.p0-menu{
		padding:8px 8px;
	}
	.main-menu .navigation{
		border: 0px !important;
	}

	.main-menu .navbar-collapse>.navigation>li>a, .main-menu .navbar-collapse>.navigation>li>ul>li>a, .main-menu .navbar-collapse>.navigation>li>ul>li>ul>li>a{
		background: #09456c;
        text-align: center;
        font-size: 16px;
        font-weight: 200;
	}
	.menu-auto-container{
		padding: 0px;
	}

	.main-menu .navbar-collapse>.navigation>li, .main-menu .navbar-collapse>.navigation>li>ul>li, .main-menu .navbar-collapse>.navigation>li>ul>li>ul>li{
		border-top: 1px solid #356584  !important;
        box-shadow: none !important;
	}
	.fixed-header.main-header .header-upper{
		border-bottom: 0px;
	}
	.main-header .top-bar .info-box li {
		padding-left: 22px;
		margin-right: 4px;
	
	}
	.no-found{
		margin-bottom: 30px;
	}
	.main-header .top-bar .info-box li:after {
	display: none;
	}
	.main-header .header-upper{
		padding-bottom: 0px;
	}
	.page-title-registration h2 {
		font-size: 33px;

	}
	.page-header-overlay{
		height:130px;
	}
	.bg-Profile{
		height: 200px;
	}
	.bg-Profile .page-header {
		padding: 80px 0;
	}
	.main-banner{
		height: auto; min-height:260px;z-index: 9;
	}
	.page-title {
		padding: 60px 0px 20px;

	}
	.bg-about-network{
		height: 130px;
	}
	.bg-about-network .page-header {
		padding: 40px 0;
	}
	.bg-members{
		height: 200px;
	}
	.bg-members .page-header {
	
		padding: 80px 0;
	}
	.bg-events{
		height: 200px;
	}
	.job-list-banner{
		height: 160px !important;
	}
	.job-list-banner .page-header-overlay{
		height: 160px !important;
	}
	.bg-events .page-header {
	
		padding: 80px 0;
	}
	.bg-blog{
		height: 200px;
	}
	.bg-blog .page-header {
	
		padding: 80px 0;
	}
	.bg-page-header{
		height: 200px;
	}
	.bg-page-header .page-header{
		padding: 80px 0;
	}
	.reg-btn-top{
		position: absolute;
    right: 7px;
    left: inherit;
    top: -145px;
    z-index: 9;
    padding: 4px;
	}
	.slider-content .btn-default {
		padding: 11px 30px;
		margin: 7px 16px 0 0;
	}
	.about-net-h2{
		margin-top:80px;
	}
	.blog-img.blog-img2 video{
		height: 350px;
	}
	.sidebar .recent-posts .post .post-thumb {
		width: 80px;
	}
	.jobs-events .page-header-overlay {
		height: 200px;
	}
	.main-header .top-bar {
	
		background: #0d5381;
		width: 100%;
		max-width: 100%;
	}
	.main-header .top-bar .info-outer {
        right: 0px;
        width: 100%;padding-left: 16px;
        padding-right: 26px;
    }
	}
	@media (min-width:200px) and (max-width:767px) {
		.filters-section select {
			background: transparent;
			padding-left: 20px;
		}
		.economy-img img {
			height: 202px;
			
		}
		.yxtwo-pad2 {
			padding-right: 6px !important;
		}
		.yxtwo-pad {
			padding-right: 3px !important;
		}
		.ps2-pe .single-form.mt-4.pt-1.ps-1 {
			padding-left: 0px !important;
		}
		.pep-r {
			padding-right: 8px !important;
		}
		.ps2-pe {
			padding-left: 12px !important;
			padding-right: 0px;
		}
		.skill-card{
			max-height: 100% !important;
		}
		.single-profile-upload label.form-label {
			margin-top: 10px;
		}
		.single-profile-upload select#category {
			margin-bottom: 10px;
		}
		section.bg-Profile.banner-section.all-sub-banner.profile-new{
			height: auto !important;
			min-height: 160px;  width: 100%;display: flow-root;
	
		}
		.btn-profile-all {
			margin-top: 48px;
		}
		.profile-img-left{
			top: 10px;
        position: relative;
		}
		.user-pr-details h3 {
			margin-top: 50px;
		}
		.tab-profile .nav {
			margin-top: 20px;
		}
		.profile-new .page-header-overlay {
			display: flow-root;
			height: auto !important;width: 100%;
			min-height: 160px;
		}
		.profile-user-all{
			display: block;width: 121%;
		}
		.user-pr-details {
			 
			width:69%; float: left;
		}
		.profile-img-left{
			float: left;
		}
		.job-home-slide .job-det-list h5 {
			margin-bottom: 10px;
			
		}
		.point-table-widget table tbody tr td{
			white-space: nowrap;
		}
		.job-home-slide span{
			display: block;
		}
		.btn-profile-all{
			right: 0px;
        position: relative;
		}
		.contact-request-right {
			width: 69%;
		}
		.contact-re-row .col-md-4 {
			width: 98%;
		}
		.search-friend {
			width: 90%;
		}
		.container-profile {
			max-width: 100%;
		}
		h4.all-job-title2 p {
			line-height: 21px;
			margin-bottom: 10px;
			padding-left: 16px;
			margin-top: 4px;
		}
		h4.all-job-title2 i {
			font-size: 16px;
			margin-top: 10px;
		}
		h4.all-job-title2 p strong {
			font-size: 18px;
		}
		h4.all-job-title2 {
			font-size: 18px;
		}
		h4.all-job-title2 {
			display: block;
		
		}
		.login-register-box {
		
			padding: 20px;
		}
		.wrap-job-block{
			border-right: solid 1px #eae8e8;
		}
		.about-greengrowth-content img{
			margin-bottom: 30px;
		}
		.about-greengrowth-content p {
			padding-top: 0px;
			margin-bottom: 15px !important;
		}
		.about-net-h2 h2{
			margin: 0px  !important;
		}
		.green-growth-sectors h2 {
			margin-top: 0px !important; margin-bottom: 0px !important;
			
		}
		.li-noti {
			width: 77%;
			right: 21px;top: 2px;
			position: relative;
		}
		.an-left-top {
			display: none;
		}
		.filters-section input {
			background: transparent;
			padding-left: 20px;
		}
		.economy-right {
			padding-left: 14px;
			padding-top: 20px;
		}
		.type-field{
			border-left: 0px;
			
		}
		.filters-section .col-md-3.col-8 {
			border-right: solid 1px #ddd;
		}
		.ab-img{
			margin-top: 20px;
		}
		.ps-h2 {
			width: 90%;
			margin-left: 16px;
			margin-top:0px;
			/* margin-bottom: 10px !important; */
		}
		.filters-section .btn-style-two {
			/* margin-top: -72px !important; */
			margin: auto !important;
			float: inherit !important;
			margin-top: -64px !important;
		}
		.col-md-2.col-8.ps-0{
			border-right: solid 1px #ddd;
		}
		.events-content .meta-post li{
			padding-left: 0px;
		}
		.evn-detail img {
			height: 230px;
			object-fit: cover;
		}
		.date-box h5 {
			font-size: 20px;
		}
		.date-box h3 {
			font-size: 24px;margin-top: -6px;

		}

		/* .user-pr-details p{
			overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
		} */
		.date-box {
		
			height: 70px;
		}
		.footer-upper .links-widget li {
			
			margin-bottom: 1px;
		}
		.thumb-widthout-layer{
			margin-bottom: 20px;
		}
		.inner-box {
			margin-bottom: 40px;
		}
		.services-section{
			margin-bottom: 20px;
		}
		.right-img-pos .image-box2 {
	
			margin-bottom: 100px;
		}
		.bg-about-greengrowth.skill{
			margin-bottom: 30px; margin-top: 40px;
		}

		.main-footer .footer-upper .column {
			position: relative;
			margin-bottom: 0px;
		}
		.main-footer .contact-info li {
		
			line-height: 20px;
		
		}
		.mp-0{
			margin-top: 20px !important; padding-top: 0px !important;
		}
		.mb-0-all{
			margin-bottom: 30px  !important;
		}
		ul.job-ul li {
			margin: 0px 12px;
			
		}
		.ml-0-responsive{
			margin-left: 0px !important;
		}
		.job-cate-block{
			margin-top: 4px;
		}
		.job-cate-block h4{
			height: auto;
		}
		.bg-events {
			height: 130px;
		}
		.jobs-events .page-header-overlay {
			height: 130px;
		}
		.jobs-events .page-header {
			padding: 34px 0 !important;
		}
.reverse-grid-all{
	flex-direction: column-reverse !important;margin-bottom: 50px !important;
}
.width-auto-all {
    max-width: 100%;
}
.job-right-block {
	float: left;
	width: 51%;
	background: #f6f6f6;
	padding: 0px 1px;
	border: solid 1px #ededed;min-height: 200px;
}
.job-right-block-r {
    float: right;
    width: 49%; margin-top:0px;min-height: 200px;border: solid 1px #ededed;border-left: 0px;
}
.right-aside{
	padding-bottom:2px; 
}

.right-aside {
    border: solid 3px #92a5b1;
    box-shadow: rgba(62, 28, 131, 0.1) 0px 0px 20px 0px;
    margin-bottom: 20px; border-radius: 0px;
}
ul.ul-categories li {
    padding: 0px 3px;margin-bottom: 3px;line-height: 20px;
}
.right-aside h5 {
	border-radius: 0px;
	border-bottom: solid 1px #92a5b1;
}
.right-aside-middle {
    padding: 14px 7px;
}
ul.ul-categories li a {
    font-size: 15px;
}
h4.all-aside-h4{
	font-weight:700;    font-size: 15px; padding-left: 6px;
}
ul.com-ul li {
    line-height: 21px;
    margin-bottom: 1px;
    font-size: 13px;
    font-weight: 600;
}
form.search-top-aside {
    margin-bottom: 10px;
}
ul.ul-categories {
    max-height: 240px;
    overflow-y: scroll;
}
ul.com-ul{
	max-height: 240px;
    overflow-y: scroll;	 
}
h4.all-aside-h4{
	margin-top: 10px !important;
}
.company-all-logo {
    border-left: 0px !important;
    margin-top: 42px;
}

.h5-color-job {
    margin-top: -10px;
}
.row.m-0.all-field-job-list .col-md-4 {
    padding-left: 0px;padding-right: 0px;
}
.row.m-0.all-field-job-list .col-md-8.ps-0 {
    padding-right: 0px;
}
.row.m-0.all-field-job-list .col-md-4 {
    padding-left: 0px;
    margin-top: 10px;
}

.row.m-0.all-field-job-list .col-md-4.mt-3{
	margin-top: 10px;
}

.job-tag .form-check {
	margin-right: 5px;
}
.mt-work-job{
	margin-top:32px;
}

.mt-negotiable {
    margin-top: -12px !important;
}
.col-md-3.ps-0.mt-work-job {
    padding-right: 0px;
}
.all-field-job-list .col-md-12.ps-0 {
    padding-right: 0px;
}
section.bg-gray-job{
	padding-top: 14px !important;
}
.border-dashed {
    margin-top: 30px;
    margin-bottom: 20px;
}
section.bg-gray-job {
    padding: 40px 0px;
    padding-right: 10px;
}
.job-tag span.text-danger {
    display: grid;
    float: left; width: 100%;
}
.nojob-found{
	margin-bottom: 50px;
}

.jobs-offc-address {
    padding: 8px 10px;
}
h4.all-job-title {
    font-size: 18px;
	}
	.jobs-offc-address p strong {
		font-size: 13px;
	}
	.usefull-link ul li p{
		width: 84%;
	}
	.blog-content-box .read-more2 {
        left: 13px;
	}
	}


	@media (min-width:200px) and (max-width:660px) {
		.main-header .top-bar .info-box li .icon{
			font-size: 14px;left: 0px !important;
		}
		.main-header .top-bar .info-box li {
			padding-left: 7px;
			margin-right: 16px;
		}
		.main-header .top-bar .info-box li a{
			font-size: 14px;
		}
		.members-profile img {
			height: 130px;
			width: 130px;
			
		}
		.btn-post-job-btn {
			padding: 6px 14px;
		}
		.chat-icon{
			border: 0px;
		}
		span.date-time {
			right: 4px;
			font-size: 12px;
			padding: 0px 5px;
		}

		.chat-box-right span.my-auto.width-right-top h6 {
			left:30px;
		
		}
		.chat-box-right span.my-auto.width-right-top p{
			left: 30px;
		}

		.news-scr-right .notofication-list-right{
			border: 0px;
		}
		li.noti-icon-right {
			
			background: #0d5381;
			height: 27px;
			border-left: solid 15px #0d5381;
		}

	
		.main-header .top-bar .info-box li {
		
			margin-right: 3px;
		}
		label.notification-count i {
			margin-left: 4px !important;
		}
		.res-icon-area{
			display: block !important;
		}
		.res-icon-area .res-icon {
			width: 100%;
			border-radius: 40px !important;
			margin-bottom: 3px;
		}
		.block-up .file-upload i {
			display: block;
			/* white-space: nowrap; */
			margin-top: 12px;
		}
		.filters-section button {
		
			padding: 5px 26px;
		}

		/* .auto-container {
			padding: 6px 0px;
	
		} */
		.footer-upper .column h2{
			margin-bottom: 5px;
		}
		.resp-pall{
			padding: 0px !important;
		}

		.mlr-0-res{
			margin-left: 0px  !important;
			margin-right: 0px  !important;
		}
		
		label.notification-count span {
			left: -4px;
		}
	
		.sidebar .recent-posts .post .post-thumb {
			width: 70px;
		}
		.reg-btn-top {
			
			top: -151px;
		}

		.usefull-link ul li p{
			width: 80%;
		}
		
}

@media (min-width:200px) and (max-width:615px) {
.chat-box-right .width-10 {
	width: 64px;left: 14px;
	position: relative;
	
}
}

@media (min-width:200px) and (max-width:600px) {
.main-header .header-upper .logo {
	width: 124px;
	top: 36px;
	left: 0px;
}
.ul-green-growth-sectors li {
    display: block;
    flex-wrap: inherit;
	float: left; text-align: center; padding: 10px;
}
.green-sec-right {
    width: 100%;
}
.green-sec-right p{
	margin-bottom: 6px;line-height: 23px;
}
ul.ul-green-growth-sectors li span {
    margin: auto;
    display: table;
}
.nav-right {
	left: 42px;
}
.notofication-list-right {
    margin-right: 0px;padding-right: 12px;
}
button.navbar-toggler {
	right: 0px;
}
.skill-list-all ul {
	right:3%;
}
.skill-list-all ul li p{
	font-size: 14px;
}
.partner-footer {
	left: 36px;
}
.main-header .header-upper .logo img {
    top: 7px;
    position: relative;
}
ul.social-ul {
	padding-right: 10px;
}
.footer-widget.links-widget li {
    float: left;
    margin-right: 5px;
    border-right: solid 1px #ddd;
    padding-right: 6px;
}
.footer-widget.links-widget li:last-child{
	border: 0px;
}
.logo-footer {
	right: 0px;
	float: left; margin-top: 0px;margin-right: 20px;
}
.logo-footer{
	width: 120px;
}
.logo-footer img {
	width: 120px;
}
ul.social-ul {
	margin-top: 15px;
	float: left;
}
.partner-footer {
	float: left;
        display: block;
        margin-top: -4px;
        left: 0px;
}
.partner-footer h4{
	margin-top: 12px;
}
ul.job-ul li {
	display: inline-block;
	
}

ul.job-ul {
	list-style: none;
	color: #fff;
	margin-top: -6px;
}
ul.job-ul li span {
	width: 50px;
	height: 50px;
	font-size: 18px;
	line-height: 49px;
	display: inline-block;
}
.details-jobs-banner {
	text-align: center;
	margin-left: 0px;
}
.details-jobs-banner h4 {
    margin-top: 4px;
    font-size: 18px;
}

.w100-all {
	max-width: 96%;
}
.modal-dlete-job {
    width: 100%;
 
}
.user-pr-details h3 {
	margin-top: 33px;
}
}

@media (min-width:200px) and (max-width:550px) {
.user-profile-drop-down button span {
    width: 92px;
}
.slider-content p span{
	display: none;
}
.profile-img-left {
	top: 28px;
	position: relative;
}
.profile-img-left {

	margin-top: 52px;
}
.contact-re-row .col-md-4 {
	width: 100%;
}
.user-pr-details{
	width: 64%;        margin-top: 24px;
}
.main-header .header-upper .logo img {
	top:9px;
	
}
.see-all-blog-link a{
	white-space:nowrap;
}
.impactful-nav .see-all-blog-link a{
	top: 4px;
	position: relative;
}
.profile-item-section button {
   
    padding: 10px 10px;
}
.submit-com {
    font-size: 26px;
    height: 60px;
    width: 80px;
    
}
.slider-content p{
	top: -4px;
}
.slider-content-area{
	margin: auto 0px;	
}
.footer-widget.links-widget {
    padding-bottom: 50px;
}
.job-area{
	display: block;
}
.job-area .btn {
    background: #09456c;
    margin-left: 0px;
    width: 100%;
    margin-top: 5px;
}
.job-area input {
    margin-left: 0px !important;
    margin-top: 3px;
}
.job-area {
    margin-top: 30px;
   
}
.file-cv-top {
    width: 100%;
    padding: 6px;

}
.bg-upload-cv {
    width: 100%;
}
.send-btn {
    width: 100%;
}
.list-cv-file p {
    margin-left: 1px;
    font-size: 14px;
}
button.navbar-toggler:after {
	left:6px;
}
}

@media (min-width:200px) and (max-width:458px) {
.btn-profile-all {
	right: 13px;display: flex;
	white-space: nowrap
	
}
.pe4-blog {
    padding-left: 14px;
    padding-right: 14px !important;
}
}
@media (min-width:200px) and (max-width:400px) {
	.annuncement-left {
        width: 34%;
    }
	.tab-profile .btn-profile-all a {
      
        margin-left: 1px;
    }
	.btn-post-all {
		padding-left: 0px;
		padding: 2px 3px 2px 3px;
	}
	.slider-content .btn-default {
        padding: 10px 18px;
        margin: 0px 16px 0 0;
    }

	.blog-content-box .read-more2 {
        left: 20px;
    }
	.modal-job h4 {
		right: 4%;
}
.user-pr-details {
	width: 210px;
}
}

@media (min-width:200px) and (max-width:550px) {
	.sidebar .recent-posts .post .post-thumb {
		width: 60px;
	}
	.main-header .header-upper .logo {
        width: 114px;
        top: 34px;
      
    }
	button.navbar-toggler {
        right: 0px;
        padding: 2px 6px;
    }
    .nav-right {
        left: 37px;
    }
	.user-profile-drop-down button span {
		font-size: 13px;
		width: 82px;
	}
	.annuncement-left i {
        margin-right: 57%;
    }
	.ab-img {
        height: 210px;
    }
	.cria-block img {
		height: 134px;
	}
	.greenskill img {
		height: 180px;
	}
	.he165 {
		height: 140px;
	}
}


@media (min-width:200px) and (max-width:512px) {
ul.social-ul li {
	width: 28px;
	height: 28px;
	font-size: 14px;
	margin-right: 1px;
	padding: 2px 3px;
}
ul.social-ul {
	margin-top: 10px;
	margin-bottom: 20px;

}
.logo-footer {
	width: 100px; margin-left: 0px;
}
.logo-footer img{
	width: 100px;
}
.worldbank {
	width: 106px;
}
.footer-bottom .copyright {

    width: 80%;
    margin: auto;
}
.partner-footer h4 {
	font-size: 13px;

}
.dflexc{
	display: flex;
}
.footer-widget.links-widget {
    margin-bottom: 20px;
}
.footer-widget.links-widget li {

	margin-bottom: 10px;
}
.jobs-list-blog span {
    margin: auto;
    display: block;
    float: none;
    margin-top: 10px;
}
.job-det-list {
	width: 100%;
        margin-left: 0%; text-align: center;
}
.w60 {
    width: 100% !important;
}
.w40 {
    width:100% !important;
}
.btn-all-jobs {

	text-align: center;
	display: ruby;
}
.fried-li-chat .width-89 {
	width: 84%;
}
.profile-chat-let span.my-auto.width-89 {
	width: 84%;
}

}
@media (min-width:200px) and (max-width:458px) {
	.green-growth-sectors h2 {
		margin-top: 0px;
		line-height: 40px;
	}
	.row {
		margin-right: 0px;
		margin-left: 0px;
	}
	.h2-36 {
		font-size: 26px;
		font-weight: 700 !important;
	}
}

@media (min-width:200px) and (max-width:390px) {
	/* button.navbar-toggler:after {
		width: 57px;
		left: -7px;

	} */
    .slider-content h3 {
        font-size: 15px;
      
    }
	ul.job-ul li {
        margin: 0px 8px;
    }
	.btn-post-all {

        padding: 2px 3px 2px 2px;
        font-size: 12px;
    }
}

@media (min-width: 200px) and (max-width: 350px) {
    button.navbar-toggler:after {
        width: 50px;
        left: 3px;
    }
	.navbar-toggler-icon {
        right: -5px;
      
    }
	.btn-profile-all {
        right: 4px;
   
    }
}