@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.gradient-bg {
    background: radial-gradient(ellipse at bottom, rgba(7, 42, 74, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
}
.premium-card {
    background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.code-block {
    background: linear-gradient(135deg, #0b426f 0%, #072a4a 100%);
}